.skills {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  height: 74vh;
  width: 57vw;
  padding: 2rem;
  background-color: var(--neutral-light-color);
  overflow: auto;
}

.skillsMobile {
  padding: 2vw 0;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-between;
}

.imgClose {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.skills > div {
  box-sizing: border-box;
  align-content: space-between;
}

.skillsMobile > div {
  box-sizing: border-box;
  align-content: space-between;
}

.skills-img{
  margin: 2px;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
  height: 30vh;
}

.linkedIn {
  position: relative;
}

.linkedIn:before {
  content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}


