.burger {
  opacity: 100%;
  padding: 0;
  position: absolute;
  background-color: var(--secondary-color);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  transition: opacity 0.6s ease-in-out;
}

.burgerMobile {
  position: fixed;
  left: 5vw;
  bottom: 8vw;
  opacity: 100%;
  padding: 0;
  background-color: var(--info-color);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  transition: opacity 0.6s ease-in-out;
}

.burger:hover {
  cursor: pointer;
  background-color: var(--info-lighest-color);
}
.burger:active {
  background-color: var(--info-lighest-color);
  cursor: pointer;
}

.burger-hidden{
  opacity: 0%;
  padding: 0;
  position: absolute;
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  position: fixed;
  left: 5vw;
  bottom: 4vw;
}

.burger > svg {
  padding: 25%;
}

.burgerMobile > svg {
  padding: 25%;
}

svg > rect {
  fill: var(--primary-color);
  width: 30px;
  height: 6px;
}