.article {
  box-sizing: border-box;
  margin: 0 1vw;
  padding: 1vw;
  background-color: var(--secondary-color, rgb(252, 211, 136));
  width: 61vw;
  transition: all 0.3s ease-in-out;
}

.article-mobile{
  padding: 0 5vw;
}

.article-height-0 {
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.article::-webkit-scrollbar{
  display: none;
}

.article-expanded {
 box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
 background-color: var(--primary-color);
 width: 100%;
 height: 100%;
 transition: all 0.3s ease-in-out;;
}