.main {
  background-color: var(--primary-color);
  box-sizing: border-box;
  height: 100vh;
  margin: 0 11vw;
  transition: all 0.3s ease-in-out;
  @media (max-width: 1280px){
    margin: 0 6vw;
    transition: all 0.3s ease-in-out;
  }
}

.main-expanded {
  background-color: var(--primary-color);
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.mainMobile {
  height: 75vh;
}

.main-section {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  /* justify-content: space-between; */
  height: 100vh;
  background: var(--neutral-light-color);
  /* box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent); */
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.main-section-expanded {
  display: flex;
  margin: 0;
  height: 100vh;
  background: var(--neutral-light-color);
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.mainSectionMobile {
  margin-left: 0;
  margin-right: 0;
}