.projects {
  padding: 2rem 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
}

.back-button {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 6% 1% 1% 1%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
