.projects {
  box-sizing: border-box;
  font-size: 1.4rem;
  height: 60vh;
  width: 100%;
  transition: height 0.3s ease-in-out;
}

.projects-height-0{
  height: 0;
  transition: height 0.3s ease-in-out;
}

.back-button {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 6% 1% 1% 1%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.bounceInvasors{
  width: 100%;
  margin-top: 1vh;
}
