.Home {
  max-height: 70vh;
  box-sizing: border-box;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--neutral-light-color);
}

.Home-photo-media {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.HomeMobile {
  display: block;
  color: var(--secondary-color);
  padding: 3vw 0vw 3vw 0vw;
}

.HomeMobile > .Home-text {
  box-sizing: border-box;
  margin: 0;
  box-shadow: none;
  width: 100%;
}

.intro-photo {
  padding: 1vw 3vw;
  color: var(--primary-light-color);
  width: 80%;
  display: flex;
  justify-content: left;
}

.Home-text {
  flex-wrap: wrap;
  display: flex;
  font-weight: bold;
  text-align: left;
  align-content: space-between;
  justify-content: left;
}

.image-container {
  margin: 1vw 1vw 0 0;
  display: flex;
  justify-content: center;
}

.HomeMobile > .image-container {
  position: absolute;
  margin: -68vh 0vw 0vw 69vw;
  width: 30vw;
}

.image-container > img {
  height: 16vh;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

.mediaContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}