.Home {
  display: flex;
  padding: 1vw;
  height: 65vh;
  max-height: 700px;
  box-sizing: border-box;
  justify-content: center;
  color: var(--secondary-color);
  background-color: var(--neutral-light-color);
}

@media (max-width: 1600px) {
  .Home {
    display: block;
    overflow: scroll;
  }
}

.Home-photo-media {
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.HomeMobile {
  display: block;
  background: var(--primary-color);
  padding: 3vw 0vw 3vw 0vw;
}

.HomeMobile > .Home-text {
  box-sizing: border-box;
  margin: 0;
  box-shadow: none;
  width: 100%;
}

.Home-text {
  flex-wrap: wrap;
  display: flex;
  font-weight: bold;
  text-align: left;
  align-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
}

.HomeMobile > .image-container {
  position: absolute;
  margin: -68vh 0vw 0vw 69vw;
  width: 30vw;
}

.image-container > img {
  width: 16rem;
  height: 20rem;
}

/* .Home > .Home-text > .p-1{
  padding: 2%;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
  background: var(--primary-light-color);
  font-size: 90%;
  margin-bottom: 3vh;
  margin-top: 2vh;
  text-align: justify;
}


.HomeMobile > .Home-text > .p-1{
  padding: 2%;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
  background: var(--primary-light-color);
  font-size: 90%;
  margin-bottom: 3vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-1B{
  padding: 2%;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
  background: var(--primary-light-color);
  font-size: 80%;
  margin-bottom: 3vh;
  margin-top: 12vh;
  text-align: justify;
}

.p-2{
  padding: 2%;
  font-size: 80%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-3{
  padding: 2%;
  color: var(--secondary-color);
  font-weight: bold;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
  background: var(--primary-light-color);
  font-size: 90%;
  margin-bottom: 4vh;
  margin-top: 3vh;
} */