/*CONTACT*/

.contact {
  color: var(--neutral-color);
  background: var(--neutral-lighest-color);
  border-width: medium;
  border-color: var(--primary-light-color);
  border-style: dashed;
  box-sizing: border-box;
  font-weight: bold;
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

.contactMobile {
  padding: 2vw;
  background: var(--primary-light-color);
  border-width: medium;
  border-color: var(--primary-lighest-color);
  border-style: dashed;
  box-sizing: border-box;
  
}

.contact form {
  padding: 0 5%;
}

.contact li,
.contactMobile li {
  list-style: none;
  display: grid;
  margin-bottom: 2vh;
  
}

.contact li input {
  height: 3vh;
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.Message-Box {
  height: 25vh;
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

form > li > label {
  margin-bottom: 2vh;
}
