.Header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-light-color, rgb(252, 211, 136));
}

.HeaderMobile {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  height: 11vh;
  margin: 2vh 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title {
  max-width: 220px;
  width: 15vw;
  box-sizing: border-box;
  font-weight: bold;
  align-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  background-color: var(--primary-light-color);
  color: var(--secondary-color);
  font-size: 5rem;
}

.titleLogo {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-light-color);
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

.title:hover{
  cursor: pointer;
}

.HeaderMobile > .title {
  max-width: 220px;
  width: 32vw;
  box-sizing: border-box;
  font-weight: bold;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0vw 0vw 0vw 15px;
  margin-right: auto;
  background-color: var(--secondary-color);
  font-size: 7vw;
}

.email {
  align-self: center;
  width: 20vw;
  height: 7vh;
  display: grid;
  align-content: center;
  background-color: var(--secondary-color);
  justify-content: center;
}

.HeaderMobile > .email {
  align-self: center;
  font-size: 80%;
  margin: 0;
  width: 32vw;
  height: 100%;
  display: grid;
  align-content: center;
  background-color: var(--secondary-color);
  justify-content: center;
}

.decoration {
  align-self: center;
  display: flex;
  width: -webkit-fill-available;
  height: 7vh;
  background-color: var(--neutral-light-color);
}

.decorationMobile {
  display: flex;
  height: 100%;
}

/*
.logos{
  height: 100%;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: var(--secondary-color);
}
*/
/*
.logos-collapsed{
  transition: all 0.3s ease-in-out;
  width: 0vw;
  background-color: var(--primary-color);
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  height: 7vh;
}
*/

/*Efecto scroll lateral para los logos de Header*/
.logo {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  fill: var(--primary-color);
  
  @media (max-width: 1250px) {
    width: 30px;
    height: 30px;
  }
}



.logoCont {
  padding: 0 1vw;
  transition: all 0.6s ease-out;
  display: flex;
  align-items: center;
  width: 40px;
  background-color: var(--secondary-color);
}

.logoCont > span{
  user-select: none;
  width: 0;
  opacity: 0;
}

.logoCont:hover {
  user-select: none;
  display: flex;
  transition: all 0.6s ease-out;
  width: 100%;
  background-color: var(--secondary-light-color);
  font-weight: bold;
}

.logoCont:hover > span {
  user-select: none;
  transition: opacity 0.7s ease-out;
  opacity: 100%;
  border-left: 1.5vw solid var(--secondary-light-color);
  padding-left: 0.8vw;
  font-size: 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;
}
