body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(74, 69, 81);
  color: rgb(245, 238, 234);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.cabecera .title {
  font-size: 2.2rem;
  border-left: medium solid rgb(248, 207, 130);
  border-bottom: medium solid rgb(248, 207, 130);
  border-top: hidden;
  border-right: hidden;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 0%;
  width: 25vw; 
}
.cabecera p {
  border-top: medium solid rgb(248, 207, 130);
  border-right: medium solid rgb(248, 207, 130);
  align-self: center;
  padding-bottom: 1%;
  padding-right: 2%;
  padding-top: 1%;
}

.subCabecera {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vh;
  height: 10vh;
}

.logos{
  width: 25vw;
  padding-left: 2%;
  border: solid wheat;
}

.resumen {
  border: solid wheat;
  width: 40vw;
  
}

.Hero {
  display: flex;
  justify-content: space-between;
  height: 50vh;
}
.Nav {
  width: 25vw;
  border: solid wheat;
  list-style: none;
  padding-left: 2%;
  margin: 0; 
}

.Hero article {
  width: 40vw;
  border: solid wheat;
}