
body {
  margin: 0;
  font-size: 25px;
  font-family: monospace, Retro Gaming, Quicksand
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(161 147 138);
  color: rgb(100, 91, 85);
}

.Header {
  height: 12vh;
  margin-bottom: 4vh;
  color: rgb(250, 223, 201);
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 223, 201);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
}

.HeaderMobile {
  height: 11vh;
  margin-bottom: 8vh;
  color: rgb(250, 223, 201);
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 223, 201);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title {
  max-width: 220px;
  width: 15vw;
  box-sizing: border-box;
  font-weight: bold;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0vw 0vw 0vw 15px;
  margin-right: auto;
  background-color: rgb(80 91 100);
  font-size: 2vw;
}

.title:hover{
  cursor: pointer;
}

.HeaderMobile > .title {
  max-width: 220px;
  width: 32vw;
  box-sizing: border-box;
  font-weight: bold;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0vw 0vw 0vw 15px;
  margin-right: auto;
  background-color: rgb(80 91 100);
  font-size: 7vw;
}

.email {
  align-self: center;
  font-size: 80%;
  margin: 1vw 2vw 1vw 0vw;
  width: 20vw;
  height: 7vh;
  display: grid;
  align-content: center;
  background-color: rgb(80 91 100);
  justify-content: center;
}

.HeaderMobile > .email {
  align-self: center;
  font-size: 80%;
  margin: 0;
  width: 32vw;
  height: 100%;
  display: grid;
  align-content: center;
  background-color: rgb(80 91 100);
  justify-content: center;
}

.decoration {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  width: 36vw;
  height: 7vh;
  margin: 1vw 4vw 1vw 1vw;
  background-color: rgb(161 147 138);
}

.decorationMobile {
  display: none;
}

/*
.logos{
  height: 100%;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(80 91 100);
}
*/
/*
.logos-collapsed{
  transition: all 0.3s ease-in-out;
  width: 0vw;
  background-color: rgb(100, 91, 85);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  height: 7vh;
}
*/

/*Efecto scroll lateral para los logos de Header*/
.logo1, .logo2, .logo3, .logo4, .logo5, .logo6 {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 100%;
  fill: rgb(250, 223, 201);
}

.logoCont1, .logoCont2, .logoCont3, .logoCont4, .logoCont5, .logoCont6 {
  padding: 2%;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.6s ease-out;
  display: flex;
  width: 40px;
  background-color: rgb(80 91 100);
}

.logoCont1 > span, .logoCont2 > span, .logoCont3 > span, .logoCont4 > span, .logoCont5 > span, .logoCont6 > span {
  user-select: none;
  width: 0;
  opacity: 0;
}

.logoCont1:hover, .logoCont2:hover, .logoCont3:hover, .logoCont4:hover, .logoCont5:hover, .logoCont6:hover {
  user-select: none;
  display: flex;
  transition: all 0.6s ease-out;
  padding: 2%;
  width: 100%;
  background-color: rgb(100, 122, 141);
  font-weight: bold;
}

.logoCont1:hover > span, .logoCont2:hover > span, .logoCont3:hover > span, .logoCont4:hover > span, .logoCont5:hover > span, .logoCont6:hover > span {
  user-select: none;
  transition: opacity 0.7s ease-out;
  opacity: 100%;
  border-left: 1.5vw solid rgb(79, 97, 114);
  padding-left: 0.8vw;
  font-size: 1.3vw;
  margin-right: auto;
  display: flex;
  align-items: center;
}

/**/

.resumen {
  transition: all 0.3s ease-in-out;
  border: solid 3px rgb(100, 91, 85);
  background-color: rgb(100, 91, 85);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  width: 55vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen-expanded {
  transition: all 0.3s ease-in-out;
  border: solid 3px rgb(94, 113, 119);
  background-color: rgb(94, 113, 119);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgb(248, 211, 180);
  box-sizing: border-box;
  height: 100vh;
  margin: 0vw 4vw 0vw 4vw;
}

.mainMobile {
  height: 75vh;
}

.main-section {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: space-between;
  height: 80vh;
  background: rgb(161 147 138);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
}

.mainSectionMobile {
  margin-left: 0;
  margin-right: 0;
}

.sidebar {
  width: 15vw;
  max-width: 220px;
  box-sizing: border-box;
  padding-left: 0.4vw;
  background-color: rgb(80 91 100);
  height: 100%;
}

.sidebarCollapsed {
  width: 0;
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  background-color: rgb(84 101 99);
  height: 100%;
}

.sidebarMobile {
  display: none;
}

.sidebar > img {
  display: none;
  position: absolute;
  bottom: 0;
  width: 3vw;
}

.Nav {
  list-style: none;
  padding-inline-start: 0;
  margin: 2vw 0 0 0;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}

.Nav-collapsed {
  width: 0vw;
  padding-inline-start: 0;
  margin: 0; 
  margin-block-start: 0;
  transition: all 0.3s ease-in-out
}

.Nav-collapsed:hover {
  cursor: pointer;
}


.main-section >.article {
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  padding: 0 2vw 0 2vw;
  background-color: rgb(250, 223, 201);
  width: 60vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.mainSectionMobile > .article {
  width: 100vw;
}


.main-section .article-expanded {
 box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
 background-color: rgb(250, 223, 201);
 width: 100%;
 height: 100%;
 transition: all 0.3s ease-in-out;;
}

.Nav li {
  box-sizing: border-box;
  padding-left: 1vw;
  background-color: rgb(93 171 167);
  color: rgb(250, 223, 201);
  box-shadow: 7px 7px 0px rgba(62, 63, 66, 0.521);
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.4vw;
  font-size: 90%;
  height: 6vh;
  width: 93%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.sidebarMobile > .Nav li {
  padding-left: 0;
  width: 0;
}

.Nav li:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(88, 203, 211);
  color: rgb(233, 219, 209);
}

.Nav li:active {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(71, 120, 134);
  color: rgb(231, 207, 188);
  transition: none;
  box-shadow: none;
}

.Nav-hidden {
  opacity: 0;
}

.li-collapsed {
  background-color: rgb(94, 113, 119);
  color: rgb(248, 211, 180);
  box-shadow: 0px 0px 0px rgba(60, 61, 63, 0.25);
  transition: all 0.3s ease-in-out;
  border-radius: 10PX;
  margin-bottom: 2vh;
  font-size: 30px;
  align-self: center;
  height: 6vh;
  width: 0vw;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.li-collapsed:hover {
  cursor: pointer;
}

.li-hidden {
  width: 0;
}

.burger {
  opacity: 100%;
  padding: 0;
  position: absolute;
  background-color: rgb(80 91 100);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  transition: opacity 0.6s ease-in-out;
}

.burgerMobile {
  margin-top: -7vh;
  opacity: 100%;
  padding: 0;
  position: absolute;
  background-color: rgb(80 91 100);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  transition: opacity 0.6s ease-in-out;
}

.burger:hover {
  cursor: pointer;
  background-color: rgb(97 157 175);
}
.burger:active {
  background-color: rgb(62, 86, 92);
  cursor: pointer;
}

.burger-hidden{
  opacity: 0%;
  padding: 0;
  position: absolute;
  background-color: rgb(94, 113, 119);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
}

.button-container {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
}

.button-container > button {
  border: none;
  transition: all 0.3s ease-out;
  font-size: 50px;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  height: 21vh;
  width: 100%;
  z-index: 1;
}

.button-container > .resume{
  box-sizing: border-box;
  padding: 2%;
  margin-right: 0%;
  background: rgb(161 147 138);
  margin-left: 37%;
  position: absolute;
  color: white;
  width: 20%;
  height: 21vh;
}

.button-container:hover > button {
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 50px;
  font-weight: bold;
  border: 0;
  color: rgb(255, 241, 231);
  background-color: rgb(97 157 175);
  height: 21vh;
  width: 56%;
}

.burger > svg {
  padding: 25%;
}

.burgerMobile > svg {
  padding: 25%;
}

svg > rect {
  fill: rgb(248, 211, 180);
  width: 30px;
  height: 6px;
}
.dropdown-menu {
  display: grid;
  height: 25vh;
  margin-top: -7vh;
  width: 31vw;
  padding: 0;
  background-color: rgb(80 91 100);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  list-style: none;
  position: absolute;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  align-content: center;
  overflow: hidden;
}

.dropdownMenuMobile {
  display: grid;
  height: 25vh;
  margin: 0;
  width: 10vw;
  padding: 0;
  background-color: rgb(80 91 100);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  list-style: none;
  position: absolute;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  align-content: center;
  overflow: hidden;
}

.dropdown-menu-hidden {
  height: 0;
  width: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu li {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1vw;
  height: 5.5vh;
  color: rgb(250, 223, 201);
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu-hidden li {
  display: none;
  width: 0;
  box-sizing: border-box;
  padding-left: 1vw;
  height: 5.5vh;
  color: rgb(250, 223, 201);
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu li:hover {
  cursor: pointer;
  background-color: rgb(181, 223, 228);
  color: rgb(105, 84, 64);
}

.dropdown-menu-closed {
  margin: 0;
  width: 0vw;
  padding: 2% 0% 2% 0%;
  background-color: rgb(94, 113, 119);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  list-style: none;
  position: absolute;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.Home {
  color: rgb(80 91 100);
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 223, 201);
  height: 100%;
}

.HomeMobile {
  display: block;
  background: rgb(250, 223, 201);
  padding: 3vw 0vw 3vw 0vw;
}

.HomeMobile > .Home-text {
  box-sizing: border-box;
  margin: 0;
  box-shadow: none;
  width: 100%;
}

.Home-text {
  font-weight: bold;
  box-sizing: border-box;
  color: rgb(105 97 90);
  padding: 1vw;
  background: rgb(198 209 189);
  height: 100%;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  text-align: left;
  width: 36vw;
}

.image-container {
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  width: 20vw;
  height: 24vw;
}

.HomeMobile > .image-container {
  position: absolute;
  margin: -68vh 0vw 0vw 69vw;
  width: 30vw;
}

.image-container > img {
  width: 100%;
}

.Home > .Home-text > .p-1{
  padding: 2%;
  color: rgb(80 91 100);
  font-weight: bold;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background: rgb(255 235 218);
  font-size: 90%;
  margin-bottom: 3vh;
  margin-top: 2vh;
  text-align: justify;
}


.HomeMobile > .Home-text > .p-1{
  padding: 2%;
  color: rgb(80 91 100);
  font-weight: bold;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background: rgb(255 235 218);
  font-size: 90%;
  margin-bottom: 3vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-1B{
  padding: 2%;
  color: rgb(80 91 100);
  font-weight: bold;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background: rgb(255 235 218);
  font-size: 80%;
  margin-bottom: 3vh;
  margin-top: 12vh;
  text-align: justify;
}

.p-2{
  padding: 2%;
  font-size: 80%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-3{
  padding: 2%;
  color: rgb(80 91 100);
  font-weight: bold;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background: rgb(255 235 218);
  font-size: 90%;
  margin-bottom: 4vh;
  margin-top: 3vh;
}
.canvas-hidden {
  position: absolute;
  width: 0;
  height: 768px;
}

.canvas-init {
  height: 75vh;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
}

.about {
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(250, 223, 201);
  font-size: 55%;
}

.aboutMobile {
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(250, 223, 201);
  font-size: 15px;
}

.experiencie {
  padding: 2vw;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about > .experiencie > section {
  color: rgb(255 244 234);
    box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
    background-color: rgb(161 147 138);
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    padding: 2vw;
    border-width: medium;
    border-color: rgb(255 244 234);
    border-style: dashed;
}

.aboutMobile > .experiencie > section {
  color: rgb(255 244 234);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background-color: rgb(161 147 138);
  box-sizing: border-box;
  width: 100%;
  padding: 2vw;
  border-width: medium;
  border-color: rgb(255 244 234);
  border-style: dashed;
}

.CertificateLink{
  padding: 0.8%;
  font-weight: bold;
  background-color: rgb(101 125 123);
}

.CertificateLink:hover{
  cursor: pointer;
}

.CertificateImg {
  position: absolute;
  top: 11vw;
  z-index: 1;
  width: 45vw;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  transition: all 0.5s ease-in-out;
}

.CertificateImg_hidden {
  position: absolute;
  top: 30vw;
  width: 0vw;
  transition: all 0.3s ease-in-out;
}

.CertificateImg > img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.skills > a {
  position: absolute;
  z-index: 2;
  top: 41vw;
  right: 30vw;
  width: 10vw;
  height: 4vw;
}

.CertificateImg > a:hover {
  cursor: pointer;
}

.CertificateImg_hidden > img {
  width: 0vw;
  transition: all 0.3s ease-in-out;
}

.imgClose {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.about > .toExpButton {
  border: none;
  margin: -6vw 0 0 51vw;
  position: absolute;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  width: auto;
  height: auto;
  font-size: 1.4vw;
}

.aboutMobile > .toExpButton {
  border: none;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  font-size: 3vh;
}

.about > .toExpButton:hover {
  border: none;
  margin: -6vw 0 0 51vw;
  position: absolute;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(139, 177, 206);
  width: auto;
  height: auto;
  font-size: 1.4vw;
  font-weight: normal;
}

.about > .toSkillsButton {
  border: none;
  margin: -6vw 0 0 55vw;
  position: absolute;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  width: auto;
  height: auto;
  font-size: 1.4vw;
}

.aboutMobile > .toSkillsButton {
  border: none;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  font-size: 3vh;
}

.about > .toSkillsButton:hover {
  border: none;
  margin: -6vw 0 0 55vw;
  position: absolute;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(139, 177, 206);
  width: auto;
  height: auto;
  font-size: 1.4vw;
  font-weight: normal;
}

.toExpButton:active, .toSkillsButton:active{
  transition: none;
  background-color: rgb(62, 82, 97);
}

.projects {
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
}

.back-button {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 6% 1% 1% 1%;
  background-color: rgb(94, 113, 119);
  color: rgb(248, 211, 180);
}

.skills {
  padding: 2vw;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.skillsMobile {
  padding: 2vw;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-between;
}

.skills > .skills-a,
.skills > .skills-b {
  display: grid;
  height: auto;
  box-sizing: border-box;
  width: 45%;
  align-content: space-between;
}


.skillsMobile > .skills-a,
.skillsMobile > .skills-b {
  display: grid;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  align-content: space-between;
}


.skills-a div{
  overflow: auto;
  color: rgb(255 244 234);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background-color: rgb(161 147 138);
  box-sizing: border-box;
  height: 21vh;
  padding: 2vh;
  border-width: medium;
  border-color: rgb(255 244 234);
  border-style: dashed;
}

.skills-b div{
  overflow: auto;
  background: #fffaf4;
  height: 30%;
  margin: 2% 0 0 0;
  padding: 0 2% 0 2%;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.skills-b .div-a{
  color: rgb(255 244 234);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  background-color: rgb(161 147 138);
  box-sizing: border-box;
  height: 44vh;
  margin: 0;
  padding: 2vh;
  border-width: medium;
  border-color: rgb(255 244 234);
  border-style: dashed;
}

.skills-img{
  margin: 2px;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
  height: 30vh;
}

.linkedIn {
  position: relative;
}

.linkedIn:before {
  content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

/*CONTACT*/

.contact {
  width: 60vw;
  height: 100%;
  justify-self: center;
  padding: 2vw;
  background: rgb(255 235 218);
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
  box-sizing: border-box;
}

.contactMobile {
  padding: 2vw;
  background: rgb(255 235 218);
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
  box-sizing: border-box;
  
}

.contact form {
  padding: 0% 5% 0% 5%;
}

.contact li,
.contactMobile li {
  list-style: none;
  display: grid;
  margin-bottom: 2vh;
  
}

.contact li input {
  height: 3vh;
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.Message-Box {
  height: 25vh;
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

form > li > label {
  margin-bottom: 2vh;
}


.contact > form > button {
  border: none;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  width: auto;
  height: auto;
  font-size: 1.4vw;
  margin-top: 3vh
}

.contactMobile > form > button {
  border: none;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(101 125 123);
  font-size: large;
}

form > button:hover {
  border: none;
  padding: 1vw;
  transition: all 0.3s ease-out;
  color: rgb(250, 223, 201);
  background-color: rgb(121, 161, 194);
  width: auto;
  height: auto;
  font-size: 1.4vw;
}

form > button:active {
  transition: none;
  background-color: rgb(62, 82, 97);
}

/*Menú de Platformer*/

.game-menu-init {
  position: absolute;
  display: grid;
  width: 100vh;
  height: 75vh;
  background-color: rgb(47 53 54);
  color: #e0b995;
  margin: 0;
  justify-content: center;
}

.game-menu-hidden {
  display: none;
}

.pause-menu-init {
  justify-self: center;
  position: absolute;
  display: grid;
  width: 100vh;
  height: 75vh;
  background-color: #393e4a40;
  color: #683506;
  justify-content: center;
}

.pause-menu-hidden {
  display: none;
}

.pause-menu-init h1 {
  font-family: Retro Gaming;
  color: white;
  font-size: 60px;
}

.game-menu-init button {
  color: #5a8ded;
  border: none;
  background: none;
  font-family: Retro Gaming;
  font-size: 2rem;
}
.game-menu-init button:hover {
  color: #3af8b9;
  border: none;
  background: none;
  font-family: Retro Gaming;
  font-size: 2rem;
}

.pause-menu-init button {
  color: #5a8ded;
  border: none;
  background: none;
  font-family: Retro Gaming;
  font-size: 2rem;
}

.pause-menu-init button:hover {
  color: #3af8b9;
  border: none;
  background: none;
  font-family: Retro Gaming;
  font-size: 2rem;
}

.score {
  margin: 2vh 0 0 -40vw;
  position: absolute;
  color: rgb(250, 223, 201);
}

.gameScreen {
  display: none;
  justify-content: center;
  transition: all 1s ease; 
  height: 768px;
  width: 100vw;
  background-color: #252121;
}

.gameScreen-hidden {
  transition: all 0.3s ease-in-out;
  height: 0;
  width: 0;
}

/*Menú de ShootEmUp*/

.shootEmUp, .platformer {
  box-sizing: border-box;
    padding: 0vw 5vw 0vw 5vw;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: rgb(80 91 100); */
    height: 100%;
}

.gameTitle {
    box-sizing: border-box;
    color: #77deff;
    font-family: retro gaming;
    margin: 6vh 2vw 10vh 2vw;
    font-size: 5vw;
}

/*Loading Screen*/

.loading-screen{
  display: flex;
  justify-content: center;
  background-color: rgb(80 91 100);
  width: 100vh;
  height: 75vh;
}

.loader{
  margin-top: 40vh;
  display: block;
  position: relative;
  height: 12px;
  width: 40%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF3D00;
  animation: 1s prog ease-in infinite;
}

@keyframes prog {
  to  {   width: 100%;}
}


