body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  font-size: 25px;
  font-family: 'chill', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 214, 184);
  color: rgb(100, 91, 85);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vw;
}

.cabecera .title {
  font-size: 2.2rem;
  border-left: solid 3px rgb(100, 91, 85);
  border-bottom: solid 6px rgb(100, 91, 85);
  border-top: hidden;
  border-right: hidden;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  padding-left: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  padding-right: 0vw;
  width: 17vw; 
}
.cabecera p {
  border-top: solid 3px rgb(100, 91, 85);
  border-right: solid 3px rgb(100, 91, 85);
  align-self: center;
  padding-bottom: 1vw;
  padding-right: 2vw;
  padding-top: 1vw;
}

.subCabecera {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  height: 10vh;
  
}

.logos{
  width: 19vw;
  border: solid 3px rgb(100, 91, 85);
  background-color: rgb(100, 91, 85);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen {
  border: solid 3px rgb(100, 91, 85);
  background-color: rgb(100, 91, 85);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(255, 214, 184);
  width: 48vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero {
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

.Nav {
  width: 19vw;
  list-style: none;
  padding-inline-start: 0;
  margin: 0; 
  justify-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.Nav-collapsed {
  width: 4vw;
  height: 4vw;
  background-color: rgb(100, 91, 85);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: hidden;
  list-style: none;
  padding-inline-start: 0;
  margin: 0; 
  justify-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}


.Hero .article {
  width: 48vw;
  border: solid 1px rgb(235, 182, 133);
  text-align: center;
  justify-content: center;
  align-items: center;
}


.Hero .article-expanded {
  width: 65vw;
  border: solid 1px rgb(235, 182, 133);
  transition: all 0.3s ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Nav li {
  border: solid 3px rgb(100, 91, 85);
  background-color: rgb(100, 91, 85);
  color: rgb(255, 214, 184);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  transition: opacity 0.3s ease-in-out;
  border-radius: 10PX;
  margin-bottom: 2vh;
  font-size: 30px;
  align-self: center;
  height: 5vh;
  width: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-collapsed {
  border: solid 1px rgb(100, 91, 85);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 25PX;
  margin-bottom: 2vh;
  font-size: 30px;
  align-self: center;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}