
body {
  margin: 0;
  font-size: 25px;
  font-family: monospace, Retro Gaming, Quicksand
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 211, 180);
  color: rgb(100, 91, 85);
  height: 100vh;
}

.App {
  padding-top: 2vh;
}
.Header {
  color: rgb(250, 223, 201);
  margin-left: 10vw;
  margin-right: 10vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabecera {
  height: 14vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 223, 201);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
}

.title {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0vw 0vw 0vw 1vw;
  margin-right: auto;
  background-color: rgb(80 91 100);
  font-size: 2.7vw;
  width: 13vw;
}

.title:hover{
  cursor: pointer;
}

.email {
  margin: 1vw 1vw 1vw 0vw;
  width: 17vw;
  display: grid;
  align-content: center;
  background-color: rgb(80 91 100);
  justify-content: center;
}

.decoration {
  width: 34vw;
  margin: 1vw 0vw 1vw 0vw;
  background-color: rgb(161 147 138);
}

.logos{
  padding: 1vw;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 1vw 0vw 1vw 0vw;
    margin-right: 1vw;
    background-color: rgb(80 91 100);
}

.logos-collapsed{
  transition: all 0.3s ease-in-out;
  width: 0vw;
  background-color: rgb(100, 91, 85);
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  height: 7vh;
}

.logo {
  width: 4vh;
  height: 4vh;
  fill: rgb(250, 223, 201);
}

.resumen {
  transition: all 0.3s ease-in-out;
  border: solid 3px rgb(100, 91, 85);
  background-color: rgb(100, 91, 85);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  width: 55vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen-expanded {
  transition: all 0.3s ease-in-out;
  border: solid 3px rgb(94, 113, 119);
  background-color: rgb(94, 113, 119);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 75vh;
}
.main-section {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  height: 75vh;
}

sidebar {
  position: relative;
  margin-top: 2vh;
  height: 80vh;
}
sidebar > img {
  position: absolute;
  bottom: 0;
  width: 3vw;
}

.Nav {
  width: 13vw;
  list-style: none;
  padding-inline-start: 0;
  margin: 0; 
  justify-self: center;
  transition: all 0.3s ease-in-out
}

.Nav-collapsed {
  width: 0vw;
  padding-inline-start: 0;
  margin: 0; 
  margin-block-start: 0;
  transition: all 0.3s ease-in-out
}

.Nav-collapsed:hover {
  cursor: pointer;
}


.main-section .article {
  margin-top: 2vh;
  margin-right: 18vw;
  padding: 1%;
  border-width: medium;
  border-color: rgb(100, 91, 85);
  background-color: rgb(250, 223, 201);
  border-style: dashed;
  width: 43vw;
  height: 100%;
  transition: all 0.3s ease-in-out;
}


.main-section .article-expanded {
  margin-top: 2vh;
  padding: 1%;
  border-width: medium;
  border-color: rgb(100, 91, 85);
  background-color: rgb(250, 223, 201);
  border-style: dashed;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.Nav li {
  padding-left: 1vw;
  background-color: rgb(96 134 146);
  color: rgb(250, 223, 201);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  transition: all 0.3s ease-in-out;
  border-radius: 10PX;
  margin-bottom: 2vh;
  font-size: 30px;
  align-self: center;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.Nav li:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(88, 203, 211);
  color: rgb(88, 107, 122);
}

.Nav-hidden {
  opacity: 0;
}
.li-collapsed {
  background-color: rgb(94, 113, 119);
  color: rgb(248, 211, 180);
  box-shadow: 0px 0px 0px rgba(60, 61, 63, 0.25);
  transition: all 0.3s ease-in-out;
  border-radius: 10PX;
  margin-bottom: 2vh;
  font-size: 30px;
  align-self: center;
  height: 6vh;
  width: 0vw;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.li-collapsed:hover {
  cursor: pointer;
}

.li-hidden {
  width: 0;
}

.burger {
  opacity: 100%;
  padding: 0;
  position: absolute;
  background-color: rgb(94, 113, 119);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
  transition: opacity 0.6s ease-in-out;
}
.burger:hover {
  cursor: pointer;
}
.burger:active {
  background-color: rgb(62, 86, 92);
  cursor: pointer;
}

.burger-hidden{
  opacity: 0%;
  padding: 0;
  position: absolute;
  background-color: rgb(94, 113, 119);
  height: 60px;
  width: 60px;
  border: none;
  z-index: 9999;
}

.button-container {
  display: grid;
  align-content: center;
  width: 100%;
  height: 100%;
}

svg {
  padding: 2%;
}

svg rect {
  fill: rgb(236, 209, 173);
  width: 30px;
  height: 6px;
}
.dropdown-menu {
  margin: 0;
  width: 11vw;
  padding: 2% 0% 2% 0%;
  background-color: rgb(94, 113, 119);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  list-style: none;
  position: absolute;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
.dropdown-menu li {
  border-bottom: 1px solid rgb(248, 211, 180);
    margin: 2%;
    text-align: left;
    cursor: pointer;
    margin-bottom: 2vh;
    background-color: rgb(94, 113, 119);
}

.dropdown-menu li:hover {
  cursor: pointer;
  background-color: rgb(181, 223, 228);
  color: rgb(105, 84, 64);
}

.dropdown-menu-closed {
  margin: 0;
  width: 0vw;
  padding: 2% 0% 2% 0%;
  background-color: rgb(94, 113, 119);
  box-shadow: 7px 7px 0px rgba(60, 61, 63, 0.25);
  color: rgb(248, 211, 180);
  list-style: none;
  position: absolute;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.Home {
  color: white;
  display: flex;
  background-color: rgb(161 147 138);
  height: 100%;
}

.Home-text {
  text-align: left;
  width: 50%;
  margin-top: 3vh;
  margin-left: 3%;
}

.p-1{
  font-size: 3rem;
  margin-bottom: 3vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-2{
  font-size: 1.4rem;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: justify;
}

.p-3{
  font-size: 3rem;
  margin-bottom: 4vh;
  margin-top: 3vh;
  
}
.canvas-hidden {
  position: absolute;
  width: 0;
  height: 768px;
}

.canvas-init {
  background-color: rgb(255, 255, 255);
  justify-self: center;
  align-self: center;
}

.about {
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  align-content: flex-start;
}

section > button {
  transition: all 0.3s ease-out;
  font-size: 50px;
  border: 0;
  color: rgb(250, 223, 201);
  background-color: #808690;
  height: 21vh;
  width: 100%;
}

section > button:hover {
  transition: all 0.3s ease-in;
  font-size: 50px;
  border: 0;
  color: rgb(250, 223, 201);
  background-color: #6e747e;
  height: 21vh;
  width: 60%;
}

.projects {
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  align-content: center;
}

.back-button {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 6% 1% 1% 1%;
  background-color: rgb(94, 113, 119);
  color: rgb(248, 211, 180);
}

.skills {
  width: 100%;
  height: 100%;
  margin: 2px;
  display: flex;
  text-align: left;
  justify-content: space-evenly;
}

.skills-a{
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 49%;
}
.skills-a div{
  height: 30%;
  margin: 0 0 2vh 0;
  padding: 0 2% 0 2%;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.skills-b{
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 49%;
}


.skills-b div{
  height: 30%;
  margin: 2% 0 0 0;
  padding: 0 2% 0 2%;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.skills-b .div-a{
  height: 62%;
  margin: 2% 0 0 0;
  padding: 0 2% 0 2%;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.skills-img{
  margin: 2px;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
  height: 30vh;
}

.linkedIn {
  position: relative;
}

.linkedIn:before {
  content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

/*CONTACT*/

.contact {
  display: grid;
  background-color: antiquewhite;
  padding: 0;
  font-size: 1.4rem;
  margin: 0;
  height: 100%;
}

.contact form {
  padding: 0% 5% 0% 5%;
}

.contact li {
  list-style: none;
  display: grid;
  margin-bottom: 2vh;
  
}

.contact li input {
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

.Message-Box {
  height: 30vh;
  width: 100%;
  background-color: white;
  border-width: medium;
  border-color: #e0b995;
  border-style: dashed;
}

/*Menú de Platformer*/

.game-menu-init {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: grey;
  color: #e0b995;
  margin: 0;
  justify-content: center;
  
}

.game-menu-hidden {
  display: none;
}

.pause-menu-init {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #393e4a40;
  color: #683506;
  margin: 0;
}

.pause-menu-hidden {
  display: none;
}

.pause-menu-init h1 {
  font-family: Retro Gaming;
  font-size: 60px;
}

.game-menu-init button {
  margin-bottom: 38vh;
  align-self: center;
  justify-self: center;
  font-family: Retro Gaming;
  font-size: 30px;
  height: 10vh;
}

.pause-menu-init button {
  align-self: center;
  justify-self: center;
  font-family: Retro Gaming;
  font-size: 30px;
  height: 10vh;
}

.score {
  position: absolute;
  color: white;
}

.gameScreen {
  display: none;
  justify-content: center;
  transition: all 1s ease; 
  height: 768px;
  width: 100vw;
  background-color: #252121;
}

.gameScreen-hidden {
  transition: all 0.3s ease-in-out;
  height: 0;
  width: 0;
}

/*Menú de ShootEmUp*/

.shootEmUp {
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
}

