@import url(./variables.css);

body {
  margin: 0;
  font-size: 25px;
  font-family: monospace, Retro Gaming, Quicksand
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral-light-color);
  color: var(--primary-color);
}
