@import url(./variables.css);

body {
  margin: 0;
  font-size: 18px;
  font-family: monospace, Retro Gaming, Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-dark-color);
  color: var(--primary-light-color);

  @media (max-width: 1024px) {
      font-size: 16px;
  }
}

section{
  overflow: scroll;
}

section::-webkit-scrollbar{
  display: none;
}

.popUpText {
  margin: 1.5vh 0;
  padding: 0.5vh;
  font-weight: bold;
  color: var(--secondary-color);
  background: var(--primary-light-color);
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

.dashCard {
  box-sizing: border-box;
  padding: 1vh 2vw;
  margin: 1vw;
  height: fit-content;
  width: -webkit-fill-available;
  border-width: medium;
  border-style: dashed;
  color: var(--primary-light-color);
  background-color: var(--secondary-light-color);
  border-color: var(--primary-light-color);
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);

}

.custombtn {
  padding: 1vw;
  font-size: 1.4vw;
  width: auto;
  height: auto;
  border: none;
  color: var(--primary-light-color);
  background-color: var(--info-color);
  transition: all 0.3s ease-out;
}

.custombtn-mobile {
  font-size: 2rem;
  width: 100%;
  height: 5vh;
  border: none;
  color: var(--primary-light-color);
  background-color: var(--info-color);
  transition: all 0.3s ease-out;
}

.custombtn:hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: var(--neutral-light-color);
  background-color: var(--info-lighest-color);
}

.custombtn:active{
  transition: none;
  background-color: var(--secondary-color);
}

.customLink{
  color: var(--primary-light-color);
  font-weight: bold;
  background-color: var(--info-darkest-color);
}

.customLink:hover{
  cursor: pointer;
}

.go-down-button {
  bottom: 11.5vh;
  right: 21.5vw;
  position: absolute;
  width: 70px;
  height: 50px; /* Misma altura achatada */
  background-color: var(--secondary-color);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  border: none;
  cursor: pointer;
  animation: moveDownUp 1s ease-in-out infinite; /* Animación de movimiento */
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

.go-up-button {
  top: 11.5vh;
  right: 21.5vw;
  position: absolute;
  width: 70px;
  height: 50px;
  background-color: var(--secondary-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Forma de triángulo */
  border: none;
  cursor: pointer;
  animation: moveUpDown 1s ease-in-out infinite; /* Animación continua */
  box-shadow: 6px 6px 0px var(--secondary-darkest-color-transparent);
}

/* Animación de movimiento hacia arriba y abajo */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0); /* Posición inicial */
  }
  50% {
    transform: translateY(-5px); /* Sube ligeramente */
  }
}

/* Animación de movimiento hacia arriba y abajo */
@keyframes moveDownUp {
  0%, 100% {
    transform: translateY(0); /* Posición inicial */
  }
  50% {
    transform: translateY(5px); /* Baja ligeramente */
  }
}
